.bg-projet {
  background-color: rgba(0,0,0,0.7);
  padding: 30px;
  color: inherit;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

body {
  font-family: Roboto, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #29282d;
  color: #ececef;
}

#title {
  font-size: 5rem;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 10s ease infinite;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html, body, section {
  block-size: 100%;
}

html {
  height: 100%;
  scroll-snap-type: y mandatory;
}

section {
  scroll-snap-align: start;
  scroll-snap-stop: always;
}

#signature {
  width: 100%;
  stroke-dasharray: 740;
  stroke-dashoffset: 740;
  animation: signature 3.5s ease-in-out forwards;
}

@keyframes signature {
  100% {
    stroke-dashoffset: 0;
  }
}

